<div class="header">
  <h1>Today at The
    <div id="container">
    <p style="margin: 0;"><a href="http://thearttheater.org">
        ART
    </a></p>
  </div>
  </h1>
</div>
<div class="fake-header">
    <span class="sizing-helper">
        <span>Today at The
            <span id="container">
                <p style="margin: 0;"><a>
                    ART
                </a></p>
            </span>
        </span>
    </span>
  <div class="apply-background"> </div>
</div> 
<!-- Today at the
<div id="container">
  <p><a>
    ART
  </a></p>
</div> -->
