.center-timeline {
  border-left: 6px solid green;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
  padding-top: 6em;
}

.timeline-item {
  margin-top: 3em;
}