.center-timeline {
  border-left: 6px solid red;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.flex-outmost {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.left-side {
  align-self: flex-start;
  min-width: 640px;
}

.right-side {
  align-self: flex-end;
  min-width: 640px;
  // margin-right: 360px;
}

.timeline-item {
  margin-top: 3em;
}