.footer {
  text-align: right;
  background-color: rgba(255,255,255,0.1);
  color: white;
  padding: 0.5rem;
  font-family: 'Mansalva', cursive;
}

p {
  font-size: 1rem;
  margin: 0;
  margin-right: 1rem;
}

p a {
  margin-left: .5rem;
}

i {
  color: white;
}
