<div class="m-1">
<div class="original">
    <p-card styleClass="ui-card-shadow" styleClass="ui-card-shadow">
        <div class="text-center">
            <img [src]="poster.Image" style="width: 293px;">
        </div>
    </p-card>
</div>
<div class="overlay" *ngIf="state" [@hover]="state" (@hover.done)="onDone($event)">
    <p-card [style]="{width: '293px'}">
        <div class="card-movie__content">

            <div class="card-movie__title">{{poster.Name}}</div>
<hr>
            <div class="card-movie__details text-center">

                <p-button label="2012" class="ui-button-rounded mr-1 mb-1" styleClass="ui-button-danger"></p-button>
                <p-button label="{{poster.Duration}}mins" class="ui-button-rounded mr-1 mb-1" styleClass="ui-button-danger"></p-button>
                <br>
                <p-button label="crime" class="ui-button-rounded mr-1 mb-1" styleClass="ui-button-secondary"></p-button>
                <p-button label="action" class="ui-button-rounded mr-1" styleClass="ui-button-secondary"></p-button>
                <br>
                <p-button label="Buy Ticket" class="ui-button-rounded mr-1" styleClass="ui-button-info" (onClick)="buyTicket()"></p-button>


            </div>
            <!-- /.card-movie__details -->

            <div class="card-movie__description mt-3">

                <p>{{poster.ShortDescription}}</p>

            </div>
            <!-- /.card-movie__description -->

        </div>
    </p-card>
</div>
</div>
